@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display=swap');

:root {
    --default-50px-margin: 50px;
}

body {
    padding: 50px;
    background-color: #f1f1f1;
    font-family: 'Lora', serif;


}

.button {
    margin: var(--default-50px-margin);
}


.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border: 0;
    margin-top: 50px;

}

.card-body {
    padding: 2rem;
}

.container-header {
    margin-top: 0;
    padding-top: 0;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    margin-bottom: var(--default-50px-margin);
}


.form-group label {
    font-weight: 500;
    font-size: 0.98rem;
}

.middle-class {
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    margin: var(--default-50px-margin);
}